{% extends "books/base.html" %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}
{% block baner %}
    <div class="baner_catalog">
        <img src="{{ category.image.url }}" alt="банер">
        <div class="but_new_c">
            <i><p class="link_new_c">{{ category.name }}</p></i>
        </div>
    </div>
    <div class="descr_categor">
        <p>{{ category.description }}</p>
    </div>
    <div class="books">
        {% for book in books %}
        <div class="back_books">
            <div class="photo_book">
                <img src="{{ book.image.url }}" alt="">
            </div>
            <div class="line1"> </div>
            <div class="name_book">{{ book.name_book }}</div>
            <div class="line2"> </div>
            <div class="author">{{ book.author.name }} {{ book.author.surname }}</div>
            <div class="line1"> </div>
            <div class="buts_books">
                <a href="{% url 'book_description' book.id %}" class="but_description"><p>Описание</p></a>
            </div>    
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}

{% endblock %}
