{% load static %}
<footer>
    <div class="foot">
        <div class="IconLogo">
            <div class="icontext">
                <p>MPT&Books</p>
            </div>
        </div>
        <div class="networks">
            <div><a href="https://www.instagram.com/accounts/login" target="_blank"><img src="{% static 'img/instagram.png' %}" alt="Ссылка на instagram" title="Ссылка на instagram" height="40px"></a></div>
            <div><a href="https://vk.com" target="_blank"><img src="{% static 'img/vk.png' %}" alt="Ссылка на ВК" title="Ссылка на ВК" height="40px"></a></div>
            <div><a href="https://t.me" target="_blank"><img src="{% static 'img/tg.png' %}" alt="Ссылка на telegram" title="Ссылка на telegram" height="40px"></a></div>
        </div>
        <div class="rigths">
            <p>© 2024 BooksSpace. All rights Reserved. | Terms of Use</p>
        </div>
    </div>
</footer>