.baners {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

.baners img{
    padding-top: 0px;
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.but_new {
    position: absolute;
    text-align: center;
    justify-content: center;
    bottom: 12%;
    height: auto;
    width: 20%;    
    background: linear-gradient(to right, #297264, #57dfc4, #297264);    
    border-radius: 60px;
    right: 6%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.link_new {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(to right, #d6faff, rgb(235, 248, 249), #d6faff);
    -webkit-background-clip: text; /* Для поддержки вебкит-браузеров */
    background-clip: text; /* Стандартное свойство */
    color: transparent; /* Скрываем цвет текста */
}

.Category {
    position: relative;
    display: flex; 
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #75b5fe;
    border-radius: 100px;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.text-category {
    width: 652px;
    height: 69px;
    text-align: center;
    border-radius: 50px;
    background-color: #706da397;
    padding-top: 10px;
    margin-top: 20px;
}

.t-category {
    font-size: 48px;
    color: #d9dcfc;
    font-style: italic;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}
.cards1{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.card-category{
    position: relative;
    border-radius: 60px;
    height: 270px;
    width: 400px;
    background-color: #8188f1;
    justify-content: center;
}

.card-category img {
    border-radius: 60px;
    margin-top: 10px;
    height: 250px;
    width: 384px;
}

.name_category {
    width: 139px;
    position: absolute;
    top: 20px;
    margin-left: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 40px;
    background-color: #6f8ee59a;
    color: #f6f5fc;
    font-size: 16px;
}

.etc {
    width: 175px;
    position: absolute;
    bottom: 20px;
    margin-left: 25%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #546689e3;
    color: #f6f5fc;
    font-size: 16px;
}

@media (max-width: 450px) {
    .but_new {
        bottom: 12%;
        height: 70px;
        width: 45%;       
        right: 30%;
        padding-top: 10px;
    }
    
    .link_new {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: linear-gradient(to right, #FFE4CC, #FFEAD7, #FFE4CC);
    }
    .text-category {
        height: 50px;
        width: 300px;
        padding-bottom: 10px;
        border-radius: 50px;
        padding-top: 10px;
    }
    .t-category {
        font-size: 40px;
        color: #FFCB9B;
        font-style: italic;
    }
    .Category {
        border-radius: 90px;
    }
    
    .card-category{
        height: 200px;
        width: 330px;
    }
    
    .card-category img {
        height: 180px;
        width: 314px;
    }

    .name_category {
        margin-left: 27%;
        text-align: center;
        padding: 10px;
        border-radius: 40px;
        background-color: #dca5669a;
        color: #FFF3C9;
        font-size: 16px;
    }
    
    .etc {
        width: 140px;
        position: absolute;
        bottom: 20px;
        margin-left: 26%;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        background-color: #7a6132e3;
        color: #FFDCB4;
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .but_new {
        bottom: 12%;
        height: 70px;
        width: 45%;       
        right: 30%;
        padding-top: 10px;
    }
    
    .link_new {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: linear-gradient(to right, #FFE4CC, #FFEAD7, #FFE4CC);
    }
    
    .text-category {
        width: 300px;
        padding-bottom: 10px;
    }
    .t-category {
        font-size: 36px;
        color: #FFCB9B;
        font-style: italic;
    }
}